@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "APJap";
  src: url("./fonts/APJapanesefont.woff2") format("woff2"),
    url("./fonts/APJapanesefont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;500;900&display=swap");

.remove-scrollbar {
  scrollbar-width: none;
}
.remove-scrollbar::-webkit-scrollbar {
  width: 0;
}

/* https://css-tricks.com/practical-css-scroll-snapping/ */
.scrollsnap-parent {
  scroll-snap-type: y mandatory;
}
.scrollsnap-child {
  scroll-snap-align: start;
}

button {
  @apply px-10 py-2 font-serif font-semibold text-black transition-colors duration-300 bg-yellow;
}

button:hover {
  @apply bg-black text-yellow;
}

h1 {
  @apply text-7xl;
}

/* Small (sm) */
@media (min-width: 640px) {
  h1 {
    @apply text-title;
  }
}
